/*Navbar*/
#navbar {
    list-style: none;
    margin: 0;
    padding: 0;

    position: fixed;
}
#navbar li {
    float: left;
}
#navbar li a {
    display: flex block;

    color: black;
    background-color: yellowgreen;

    text-decoration: none;
    align-items: center;
    justify-content: center;

    width: 175px;
    height: 60px;
}
#navbar li a:hover:not(.active) {
    color: white;
    background-color: darkgreen;
}
#navbar li a.active {
    color: black;
    background-color: lightblue;
}
/*Classes*/
.textBlock {
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
}
/*HTML Elements*/
hr {
    width: 75%;
    float: left;
    height: 5px;
    background-color: red;
    border: none;
}