/*Navbar*/
#navbar {
    list-style: none;
    margin: 0;
    padding: 0;

    position: fixed;
    opacity: 50%;
}
#navbar:hover {
    opacity: 100%;
}
#navbar li {
    float: left;
}
#navbar li a {
    display: flex block;

    color: black;
    background-color: yellowgreen;

    text-decoration: none;
    align-items: center;
    justify-content: center;

    width: 175px;
    height: 60px;
}
#navbar li a:hover:not(.active) {
    color: white;
    background-color: darkgreen;
}
#navbar li a.active {
    color: black;
    background-color: lightblue;
}

/*IDs*/
#FactbookDisplay1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
#FactbookDisplay2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    overflow: hidden;
}
#FactbookDisplay2Right {
    width: 500px;
}
#aboutMeDist {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#miscAboutMe {
    width: 50%;
}
#miscAboutMe h3 {
    text-align: center;
}
#miscAboutMe table {
    border-style:dashed;
    border-color:black;
    border-width: 1px;

    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
#miscAboutMe table td {
    padding: 5px;
    padding-left: 30px;
}
#NPCSkills {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;

    height: 350px;
}
#NPCSkills div {
    padding-left: 5px;
    padding-right: 5px;
    flex-shrink: none;
}
#NPCDis {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
}
#contact {
    background-color: pink;
    padding: 5px;
    width: 250px;

    border-style: solid;
    border-color: purple;
    border-width: 5px;
    border-radius: 3px;
}
#contact button {
    border-style: solid;
    border-width: 2px;
    border-color: lightskyblue;
    border-radius: 2px;

    background-color: lightblue;
}
#info {
    border-color:lightskyblue;
    border-width: 10px;
    border-style: solid;
    border-radius: 7px;
    width: 40%;
    margin-left: 55%;
    opacity: 0%;
    position: fixed;
    background-color: pink;
    padding: 5px;
}
#footerFlex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

/*Classes*/
.textBlock {
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
}
.divTextBlock {
    padding-left: 5%;
    padding-right: 5%;
}
.sideFloatImage {
    width: 500px;
    float: right;
    padding-right: 5%;
}
.pink {
    background-color: pink;
}
.blue {
    background-color: lightskyblue;
}
.textSurround {
    border-color: rgba(175, 255, 255, 0.5);
    border-width: 7px;
    border-style: solid;
    border-radius: 5px;
    padding: 3px;
}

/*HTML Elements*/
hr {
    width: 75%;
    float: left;
    height: 5px;
    background-color: pink;
    border: none;
}
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightcyan;
}  
tr {
    height: auto;
    font-size: auto;
    border-style: none;
    border-color: white;
    border-radius: 0px;
}
footer {
    font-size: 18px;
    background-color: lightskyblue;

}